body {
    height: 100%;
    background-color: #f5f5f5;
}
.map {
    
    width: 100vw;
    height: 100vh;
}
h1{
    margin: 15px;
    text-align: center;
}
.map div p:nth-child(-n+1) {
    font-weight: 500;
    color: black;
}